.login-from {
    margin-top: 80px;
    border: 1px solid #ddd;
}

.login-from h4 {
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 20px;
}

p.return-home {
    margin: 20px 0;
}

.modal-header{
	background:#099;
	color:#fff;
}
.affix {
      top: 0;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      

  }
  
  a{
	  color:#fff;
  }
  
  a:hover{
	  color:#F1F1F1;
  }